In [5]:
SELECT COUNT(*) AS 'Foglalások száma'
FROM Foglalas
WHERE YEAR(METTOL) = YEAR(MEDDIG) AND MONTH(METTOL) <> MONTH(MEDDIG)

Foglalások száma
131

In [15]:
SELECT TIPUS AS 'Típus', ROUND(AVG(CSILLAGOK_SZAMA), 0) AS 'Átlagos csillagszám'
FROM Szallashely
WHERE TIPUS <> 'panzió'
GROUP BY TIPUS
HAVING ROUND(AVG(CSILLAGOK_SZAMA), 0) >= 3

Típus,Átlagos csillagszám
Hotel,3